/* .rowStyle{
    :global{
        .ant-table-tbody > tr >td {
            padding: 10px 24px !important;
        }
        .ant-table-thead > tr >th{
            padding: 10px 24px !important;
        }
        .ant-table-tbody > tr >td:not(:last-child) {
            border-right: 0px !important;
        }
        .ant-table-thead > tr >th:not(:last-child) {
            border-right: 0px !important;
        }
    }
} */

.space-align-block{
    margin: auto;
    border-color: aqua;
    padding: 20px;
}
.setrow{

}