.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    }

.loginForm {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: lightblue;
}

.title {
    text-align: center;
    margin-bottom: 1em;
  }

  .signup {
    background: #B9DFFF;
    font-size: 20px;
  }